# Ignore node_modules directory
node_modules

# Ignore logs and debugging files
logs/
*.log
npm-debug.log*

# Ignore environment-specific files
.env

# Ignore any build output
/build

# Ignore OS or editor specific files
.DS_Store
Thumbs.db

# Ignore dependency directories or files
.lock-wscript
.pnpm
.pnpm-debug.log
.pnp.*
.npm
.npmrc
yarn-debug.log*
yarn-error.log*

# Ignore optional package manager files
.pnpm
pnpm-debug.log
yarn-error.log
yarn.lock
